    *{
        margin: 0;padding: 0;box-sizing: border-box;list-style-type: none;
        font-family: 'poppins', sans-serif;scroll-behavior: smooth;
        }
        button{
            cursor: pointer;
            font-weight: bold;
        }
        .flexCenter{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        a{
            text-decoration: none;
            color: #333;
            font-size: 20px;
            transition: color 0.3s;
            font-weight: bold;
        }
        header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 10vh;
            background-color: #fff;
            display: flex;
            /* justify-content: space-between; */
            /* align-items: center; */
            padding: 0 20px;
            z-index: 1000;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        .navBrand{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 10px;
            border: dash 2px #030303;
        }
        .navBrand a{
            display: flex;
        }
        .navBrand span{
            color: lightseagreen;
        }
        .navBrand img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 15px;
            border: solid #ca9c9f;
        }
        .navbar{
            /* display: flex; */
            gap: 20px;
            list-style: none;
            margin-right: 10vh;
        }
        .navbar a{
            text-decoration: none;
            color: #333;
            font-size: 20px;
            transition: color 0.3s;
            font-weight: bold;
            position: relative;
        }
        .navbar a:hover{
            color: lightseagreen;
        }
        .navbar a.active::after,.navbar a:hover::after{
            content: "";
            width: 30%;
            height: 4px;
            background-color: #088178;
            position: absolute;
            bottom: -10px;
            left: 20px;
        }
        header .close-nav,  .open-nav{
            color: black;
            background-color: transparent;
            padding: 10px  20px;
            border-radius: 5px;
            border-color: #ca9c9f;
            max-width: 100px;
            display: none;

        }
        header nav{
             
        }
        .Container{
            height: 90vh;
            display: flex;
            align-items: center;
            height: 100vh;
            background-color: rgb(54, 90, 94);
            justify-content: center;
            flex-wrap: wrap;
            gap: 15%;
            margin-top: 10vh;
        }
        /* .Container > *{
            border: solid red;
        } */
            /* .Container > *{
                border: solid red 2px;
            } */
        /* .Container::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('images/Men dem ♥️ _ #IgboWeddings #igbowedding #igbankwu….jpg');
            background-size: cover;
            background-position: center;
            filter: blur(10px) brightness(0.5);
            z-index: -1;
        } */
        .Container{
            height: 100%;
            min-width: 400px;
            gap: 20px;
            display: flex;
            align-items: center;
            /* margin-left: 15vh; */
            text-align: center;
        }
        .content h1{
            font-size: 50px;
            color: #fff;
            margin-bottom: 20px;
        }
        .content p{
            font-size: 20px;
            color: #fff;
            margin-bottom: 30px;
        }
        .content button{
            padding: 10px 20px;
            font-size: 20px;
            background-color: #fff;
            color: #333;
            font-weight: bold;
            /* border: none; */
            border-color: #ca9c9f outset;
            border-radius: 10px;
            transition: background-color 0.3s, color 0.3s;
        }
        .content button:hover{
            background-color: lightseagreen;
            color: #fff;
            border-color: #ca9c9f outset;
        }
        /* .Container .image{
            height: 500px;
            width: 500px;
            min-width: 400px;
        } */
        .Container .image img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: #ca9c9f solid; 
            /* margin-right: 15vh; */
        }
        .products{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            box-sizing: border-box;
        }
     
        .products .product-list{
            border: #030303;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;
        }
        .products .product-item{
            width: 200px;
            height: 300px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            margin: 10px;
            box-shadow: 3px 3px 3px #088178;

        }
        .products .product-item img{
            width: 100%;
            height: 200px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .products .product-item h6{
            display: inline-block;
            padding: 9px 8px 6px 8px;
            line-height: 1; color: #088178;
            background-color: #fddde4;
            text-transform: uppercase;
            font-family:  sans-serif;
            font-weight: bold;
            
        }

        .products .product-item:hover{
            box-shadow: 3px 3px 10px #ca9c9f;
       }
       .products .product-item:nth-child(1) h6{
            background-color: #ca9c9f; width: 150px;
        }
        .products .product-item:nth-child(2) h6{
            background-color: lightgreen;
        }

         .products .product-item:nth-child(3) h6{
            background-color: bisque;
        }
         .products .product-item:nth-child(4) h6{
            background-color: rgb(121, 184, 205);
        }
         .products .product-item:nth-child(5) h6{
            background-color: rgb(233, 160, 233);
        }
         .products .product-item:nth-child(6) h6{
            background-color: rgb(216, 237, 164);
        }
        .featured{
            justify-items: center;
            font-weight: bolder;
            padding: 50px;
            color: #fff;
            background-color:  rgb(54, 90, 94);
           
        }
        .featured h1{
            font-size: 40px;
            text-transform: uppercase;
        }
        .featured p{
            text-transform: capitalize;
        }
        .feat-box .imgunder{
            padding: 10px;
            align-items: start;
            margin-right: 20vh;
        }
        .featured-box{
            display: flex;
             border: #030303;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
            z-index: -1;
        }
        .feat-box{
            width: 300px;
            height: 380px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            margin: 30px;
        }
        .feat-box i{
            display: flex;
            align-items: start;
            justify-content: space-between;
            color: yellow;
            font-size: 10px;
            float: left;

        }
        .feat-box img{
             width: 100%;
            height: 200px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .feat-box img:hover{
            transform: scale(1.1);
            transition: all 0.3s ease;
            box-shadow: #333 0 0 10px;
        }
        .feat-box:hover{
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
            transform: translateY(-5px);
            transition: all 0.3s ease;
        }
        .feat-box h3{
            font-size: 15 px;
        }
        .zero{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20vh;
            width: 100%;
            background-color: rgba(193, 227, 242, 0.672);
            text-transform: uppercase;
            color: rgb(76, 46, 46);
        }
        .zero::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(54, 90, 94);
            
        }
        .zero-div1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            z-index: 1;
        }
        .heroh5{
            font-size: 20px;
            /* color: #fff; */
            text-align: center;
            z-index: 1;
        }
        .herocontent h3{
            font-size: 30px;
            text-align: center;
            z-index: 1;
        }
        .herocontent button{
            background-color: #fff;
            color: rgb(54, 90, 94);
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 20px;
            justify-content: center;
        }
        .herocontent button:hover{
            cursor: pointer;
            color: white;
            background-color: lightseagreen;
        }
        .banner{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 40vh;
            position: relative;
            z-index: 10;
            color: #fff;
            
        }
        .banner::after{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 1;
            filter: brightness(0.5)blur (2px);
            background-position: center;
            background-size: cover;
            background-repeat: none;
            background-image: url(./images/07b0e0fa-0dac-4c2b-99bf-ed557ebf5c49.jpg);

        }
        .banner > *{
            z-index: 11;
        }
        .banner h5{
            font-size: 50px;
            margin-bottom: 20px;
        }
        .banner h3{
            font-size: 30px;
            margin-bottom: 30px;
        }
        .banner button{
            padding: 10px 20px;
            font-size: 20px;
            background-color: #088178;
            color: #fff;
            border: none;
            border-radius: 10px;
            transition: background-color 0.3s, color 0.3s;
            box-shadow: 3px 3px 3px #333;
        }
        .banner button:hover{
            background-color: #fff;
            color: #088178;
            box-shadow: 3px 3px 10px #ca9c9f;
        }
        .sm-banner{
            display: flex;
            justify-content: center;
            gap: 50px;
            flex-wrap: wrap;
            padding: 40px 0;
        }
        button.white {
            padding: 10px 20px;
            font-size: 20px;
            font-weight: 600;
            background-color: transparent;
            color: #fff;
            border: #ca9c9f inset;
            border-radius: 10px;
            transition: background-color 0.3s, color 0.3s;
            box-shadow: 3px 3px 3px #333;
        }
        .sm-banner .banner-box:hover button{
            background-color: #fff;
            color: #ca9c9f;
            box-shadow: 3px 3px 10px #ca9c9f;
            border: outset #ca9c9f;
        }
        .sm-banner > *{
            border: outset #088178;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            color:  #fff;
            min-width: 500px;
            width: 45%; height: 40vh;
            margin: 30px 0;
            position: relative; z-index:10;
            box-sizing: border-box;
        }
        .sm-banner .banner-box::after{
            content:"";
            background-image: url(./images/4e383d5c-7eb5-4276-b635-c5e500225c24.jpg);
            width: 100%; height: 100%;
            background-size: cover;
            background-position: center;
            position: absolute;top: 0;
            z-index: -5;
            filter: brightness(0.5);
            box-sizing: border-box;
        
        }
        .sm-banner .banner-box > *{
            margin-left: 30px;
        }
        .sm-banner .banner-box h4{
            color: #fff;
            font-size: 20px;
            font-weight: 300;
        }
        .sm-banner .banner-box h2{
            color: #fff;
            font-size: 28px;
            font-weight: 800;
        }
        .sm-banner span{
            color: rgb(209, 216, 86);
            font-size: 28px;
            font-weight: 500;
            padding-bottom: 15px;
        }
        .sm-banner .banner-box2::after{
            background-image: url(./images/07b0e0fa-0dac-4c2b-99bf-ed557ebf5c49.jpg);
        }
        .banner3{
            gap: 40px;
            justify-content: center;
            flex-wrap: wrap;
        }
        .banner3 .banner-box{
            border: solid #088178 2px;
            color: #ca9c9f;
            min-width: 250px;
            width: 350px;
            height: 30vh;
            /* padding: 0 auto; */
            position: relative; z-index:4;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .banner3 .banner-box::after{
            content:"";
            background-image: url(./images/cca7065f-3ef5-45d0-aba6-ccd5ed3d5b81.jpg);
            width: 100%;height: 100%;
            background-size: cover;
            background-position: center;
            position: absolute;top: 0;
            z-index: -1;
            filter: brightness(0.3);
            box-sizing: border-box;
        }
        .banner3 .banner-box> *{
            margin-left: 20px;
        }
        .banner3 .banner-box h2{
            font-weight: 900;
            font-size: 22px;
        }
        .banner3 h3{
            font-weight: 800;
            font-size: 15px;
        }
        .banner3 .banner-box2::after{
            background-image: url(./images/5530cd4c-4b1d-4c7a-a50c-f4c6d71d0940.jpg);
        }
        .banner3 .banner-box3::after{
            background-image: url(./images/3d4ff4d4-3e23-43d0-8933-da1dbf847c09.jpg);
        }
        .newsLetter{
            padding: 30px 100px;
            flex-wrap: wrap;
            background-color: rgb(54, 90, 94);
            border: #ca9c9f inset .5px;
            color: #fff;
            width: 100%;
            margin-top: 10px;
        }
        .newsLetter .newstext{
            margin: 30px 0;
        }
        .newsLetter h4{
            font-size: 35px;
            font-weight: 800;
            color: #ca9c9f;
        }
        .newsLetter p{
            font-size: 15px;
            font-weight: 600;
            color: #030303;
        }
        .newsLetter p span{
            color: #ca9c9f;
        }
        .newsLetter input{
            padding: 15px;
            font-size: 16px;
            width: 300px;
            border: none;
            outline: none;
            border-radius: 5px 0 0 5px;
            background-color: whitesmoke;
            color: #333;
        }
        .newsLetter input::placeholder{
            color: #ca9c9f;
        }
        .newsLetter button{
            background-color: #ca9c9f;
            color: #088178;
            border: none;
            padding: 15px;
            font-size: 16px;
            border-radius: 0 5px 5px 0;
        }
        footer {
            background: rgb(38, 38, 66);
            position: relative;
            width:100%;
            color: #fff;
        }
        footer .logo{
            height:80px;
            margin-bottom: 30px;
        }
        footer a{
            color: #fff;
        }
        .footer-container{
            width: 100%;
            /* border: solid #ca9c9f; */
            display: flex;
            justify-content: center;
            gap: 1%;
            flex-wrap: wrap;
            
        }
        .footer-container > *{
            /* border: solid #ca9c9f ; */
            display: flex;
            /* flex-wrap: wrap; */
            flex-direction: column;
            align-items: start;
            margin-bottom: 20px;
            flex-basis: 200px;
            min-width: 300px;
            gap: 10px;
            margin-top: 20px;
        }
        footer .row img{
            height: 80px;
            border: solid #088178;
            border-radius: 15px;
            width: 120px;
            margin-top: 80px;
        }

        

        












     


        /* mobile */
        @media (max-width:991.98px) {
            header nav{
                padding: 50px;
                position: fixed;
                top: 0;
                right: 0;
                padding-top: 15vh;
                height: 100vh;
                width: 400px;
                background-color: whitesmoke;
                transform: translateX(100%);
                transition: transform 0.5s ease-in-out;
                /* z-index: 1000; */

            }
            header nav.active{
                transform: translateX(0);
            }
            ul.flexCenter{
                height: 60%;
                margin-top: 30px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-direction: column;
                /* gap: 1rem; */
            }
            header .close-nav,  .open-nav{
                display: initial;
            }

            .Container{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: auto;
                gap: 40px;
                padding: px ;
            }
            .Container h1{
                font-size: 50px;
            }
            .Container P{
                font-size: 15px;
            }
            .content{ min-width: 350px;
                margin-left: 0;
                text-align: center;
                
            }
            /* .Container .image img{
                width: 90%;
                height: 90%;
                border-radius: 50%;
                align-items: center;
                margin-left: 5vh;
                border: #ca9c9f solid;
                margin-right: 0;
                margin-bottom: 30px;
            } */
            .products{
                justify-content: center;
                padding: 0 5%;
            }
            .featured-cont{
                justify-content: center;
                padding: 0 5%;
            }
            .newsLetter {
                flex-direction: column;
                align-items: center;
            }
            .newsLetter form{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                flex-direction: column;
            }
            .newsLetter input{
                border-radius: 15px 15px ;
            }
            .newsLetter button{
                border-radius:  0 0  15px 15px;
            }

            footer .logo{
                height: 80px;
                margin-bottom: 220px;
                bottom: -1px;
            }
            footer .row img{
                height: 80px;
                border: solid #088178;
                border-radius: 15px;
                width: 120px;
                margin-bottom: 80px;
            }
        }

        /* small tablet */
        @media (min-width:481px){

        }
        
        



        
        /* @media (max-width: 991px) {
            .container {
                flex-direction: column;
            }
            .content{
                order: 10;
                border: solid 10px lightseagreen;
            }
            .image{
                border: solid 10px lightseagreen;
                order: 3;
                flex-direction: column;
                
            }
            
        } */